.env
.idea
composer.lock
/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
error_log
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/hs_err_pid11008.log
/hs_err_pid2436.log
composer.phar